<ion-view title="Acessibilizando">

<ion-content>

<p><center><font color="006eff"> O seu aplicativo está disponível na Google Play e/ou App Store? Não perca tempo! O disponibilize aqui!</font></center></p>  
  <br>
       
        <div class="item item-image"   ui-sref="cadastroauditivaios"  >
          <img src="img/ios.png">
          
          <button class="button button-block button-stable" ui-sref="cadastroauditivaios">
            
        
          
          <h2><font color="006eff">iOS</h2>
          
        
        </button>
        </div>  
        


        <div class="item item-image " ui-sref="cadastroauditiva">
          <img src="img/android.png">
          
          <button class="button button-block button-stable" ui-sref="cadastroauditiva">
            
          
          
          <h2><font color="006eff">Android</font></h2>
          
        
        </button>
        </div>

        </div> 
      </ion-content>



</ion-view>