<ion-view title="Acessibilizando">

<ion-content>

  

    <div>
          <p><center><font color="006eff">Bem-vindo ao Acessibilizando!</font></center></p>
          <p><center><font color="006eff">
           Toque nas imagens e descubra os aplicativos perfeitos para você!
          </font></center></p>
        
      </div>
  
  
      


       
        <div class="item item-image"   ui-sref="auditiva"  >
          <img src="img/deficienciaauditiva.jpg">
          
          <button class="button button-block button-positive" ui-sref="auditiva">
            
        
          
          <h2><font color ="white">Deficiência Auditiva</font></h2>
          
        
        </button>
        </div>  
        


        <div class="item item-image " ui-sref="motora">
          <img src="img/deficienciamotora.jpg">
          
          <button class="button button-block button-positive" ui-sref="motora">
            
          
          
          <h2><font color="white">Deficiência Motora</font></h2>
          
        
        </button>
        </div>

        <div class="item item-image "ui-sref="visual">
          <img src="img/deficienciavisual.jpg">
          
          <button class="button button-block button-positive" ui-sref="visual">
            
        
          
          <h2><font color="white">Deficiência Visual</font></h2>
          
        
        </button>
        </div>

        
























  </div> 



 

</ion-content>



</ion-view>