<ion-view title="Menu">
        
           
        <ion-content>
           
          <div class="list">
            
              <a class="item item-icon-left"  ui-sref="cadastroauditiva">
                <i class="icon ion-plus-circled"></i>
                Aplicativo PCD Auditiva
              </a>

              <a class="item item-icon-left" href="#"ui-sref="cadastromotora">
                <i class="icon ion-plus-circled"></i>
                Aplicativo PCD Motora
              </a>
            
              <a class="item item-icon-left" href="#" ui-sref="cadastrovisual">
                <i class="icon ion-plus-circled"></i>
                Aplicativo PCD Visual
              </a>


            </div>
      

        </ion-content>
    
    </ion-view>